# Windows 환경에서 freeze한 패키지 목록, 오류 있음
# Linux/Mac 환경으로 통일 예정이므로 참고만 해 주세요.(수정 예정)

# 필수
pdfplumber # PDF 텍스트 추출 
pytesseract  # OCR 
Pillow # OCR용 이미지 처리 

# RAG 구성 
langchain
langchain-community
langchain-core
langchain-openai
openai
tiktoken

# 벡터 DB 
faiss-cpu
chromadb
lark

# 임베딩 & 모델 활용 
transformers
torch
torchvision
torchaudio

# 검증
ragas
datasets
langchain_openai

# 유틸 
numpy
pandas
scikit-learn
dotenv
langchain_community
sentence-transformers
streamlit
lark
networkx
matplotlib